<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
	<add key="PackagePath" value="D:\LienThong\HocKi4\Phat Trien He Thong Thong Tin Hien Dai\BaiTap2_SSIS\1542226_SSIS_Package\1542226_SSIS_Package\1542226_SSIS_Package.dtsx" />
    <add key="SourceFolderPath" value="D:\LienThong\HocKi4\Phat Trien He Thong Thong Tin Hien Dai\BaiTap2_SSIS\1542226_Calling_SSIS\1542226_Calling_SSIS\SourceFolder" />
    <add key="RycycleBinPath" value="D:\LienThong\HocKi4\Phat Trien He Thong Thong Tin Hien Dai\BaiTap2_SSIS\1542226_Calling_SSIS\1542226_Calling_SSIS\RycycleBin" />
	<add key="ErrorFilesPath" value="D:\LienThong\HocKi4\Phat Trien He Thong Thong Tin Hien Dai\BaiTap2_SSIS\1542226_Calling_SSIS\1542226_Calling_SSIS\Errors" />
 </appSettings>
</configuration>