<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
	<!--Đường dẫn đến file package SSIS-->
	<add key="PackagePath" value="D:\LienThong\HocKi4\Phat Trien He Thong Thong Tin Hien Dai\DoAn\DoAnPTHTTTHD\BaiTap SSIS\1542226\1542226_SSIS_Package\1542226_SSIS_Package\1542226_SSIS_Package.dtsx" />

	<!--Đường dẫn đến folder chứa file dữ liệu text-->
	<add key="SourceFolderPath" value="D:\LienThong\HocKi4\Phat Trien He Thong Thong Tin Hien Dai\DoAn\DoAnPTHTTTHD\BaiTap SSIS\1542226\1542226_Calling_SSIS\1542226_Calling_SSIS\SourceFolder" />

	<!--Đường dẫn đến folder chứa những file dữ liệu đã được import dữ liệu-->
	<add key="RecycleBinPath" value="D:\LienThong\HocKi4\Phat Trien He Thong Thong Tin Hien Dai\DoAn\DoAnPTHTTTHD\BaiTap SSIS\1542226\1542226_Calling_SSIS\1542226_Calling_SSIS\RecycleBin" />

	<!--Đường dẫn đến folder chứa những file dữ liệu bị lỗi trong quá trình import-->
	<add key="ErrorFilesPath" value="D:\LienThong\HocKi4\Phat Trien He Thong Thong Tin Hien Dai\DoAn\DoAnPTHTTTHD\BaiTap SSIS\1542226\1542226_Calling_SSIS\1542226_Calling_SSIS\Errors" />
  </appSettings>
</configuration>