.header {
  background-color: #0085da;
  border-bottom: 1px solid #ccc;
  height: 50px;
}
.notification-icon-button > div > div {
  padding: 0!important;
}
.avatar {
  position: relative;
  top: -7px;
  left: -7px;
}