/JavaRestfulAPI/target/
CSharpCardProcessing/.vs/
CSharpCardProcessing/Mm.BusinessLayer/obj/Debug/
CSharpCardProcessing/Mm.WebService/obj/Debug/
CSharpCardProcessing/Mm.BusinessLayer/bin/Debug/
CSharpCardProcessing/Mm.BusinessLayer/obj/Debug/
CSharpCardProcessing/Mm.WebService/bin/
CSharpCardProcessing/Mm.WebService/obj/Debug/

CSharpCardProcessing/Mm.DomainModel/CardProcessing.cs

#Ignore java
JavaRestfulAPI/.idea/
JavaRestfulAPI/java-restful-api.iml
JavaRestfulAPI/src/test/java/controller/
JavaRestfulAPI/src/main/resources/hibernate.cfg.xml