Mm.BusinessLayer/bin/
Mm.BusinessLayer/obj/
Mm.DataAccessLayer/bin/
Mm.DataAccessLayer/obj/
Mm.DomainModel/bin/
Mm.DomainModel/obj/
Mm.WebService/bin/
Mm.WebService/obj/
Mm.WebSite/bin/
Mm.WebSite/obj/
MyTest/bin/
MyTest/obj/
packages/